{{#each row in grid}}
  <div class="row">
    {{#each rm in row}}
      <div class="col s12 m12 l6">
        <div class="card">
          <div class="card-image">
            <img src="{{model.pageUrl}}" title="{{model.year}}"/>
          </div>
          <div class="card-content">
            <span class="card-title grey-text text-darken-4">
              {{rm.year}} / {{rm.modelpage.page}}
            </span>
            <p>{{#link-to 'modelhit.page.edit' rm.modelpage.model rm.modelpage}}Edit{{/link-to}}<a href="{{rm.pageUrl}}" target="_blank">Download</a></p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/each}}
