{{#each grid in availableGridCatalogs}}
  <div class="row">
    {{#each model in grid}}
      <div class="col s12 m12 l6">
        <div {{bind-attr class=":card model.processed:disabled"}}>
          <div class="card-image">
          <img src="{{model.pageUrl}}" title="{{unbound model.catalog.year}}"/>
          </div>
          <div class="card-content">
            <span class="card-title grey-text text-darken-4">
              {{unbound model.catalog.year}} / {{unbound model.modelhit.page}}
            </span>
            <p class="card-bottom-actions">
              <a href="#" {{action 'addSugestionAsPage' model}}><i class="mdi-content-add-box">Add</i></a> |
              <a href="{{model.pageUrl}}" target="_blank"><i class="mdi-content-archive">Download</i></a>
            </p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/each}}
