<section>
  <div class="container">
    <div>
      <div class="page-header">
        <h2>Edit Modelpagea</h2>
      </div>
    </div>
    <div class="row">
      {{log model.model}}
    </div>
    <div class="row">
      <form name="modelpageForm" class="col s12" role="form">
        <div class="row">
          <div class="col s6">
          {{md-select content=model.catalogs
            value=selectedObject
            label="Catalog"
            prompt="Please choose..."
            optionLabelPath="content.displayName"
            optionValuePath="content"}}
          </div>

          <div class="col s6">
            {{md-input value=model.model.page label="Page"}}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button {{action 'update' model.model}} class="btn">Save</button>
          </div>
        </div>

        <div class="text-center text-danger">
          <strong>{{serverErrorMessage}}</strong>
        </div>
      </form>
    </div>
  </div>
</section>
